*{
    margin: 0;
}
.header{
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
}
.header-bar{
    display: flex;
    justify-content: space-between;
    padding: 50px 228px;
    align-items: center;
}
.title h3{
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    margin-top: 0;
}
.nav ul{
    display: flex;
    justify-content: space-around;
}
.nav ul{
    width: 477px;
    list-style: none;
}
.header-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 862px;
    padding: 0 529px;
    text-align: center;
}
.header-description h1{
    font-weight: 700;
    font-size: 64px;
}
.header-description button{
    height: 64px;
    width: 180px;
    margin: 20px auto;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
}
.banner-img img{
    padding: 0 241px 45px;
}
/* main section styles */
.features{
    margin: 50px 228px;
    display: flex;
    align-items: center;
}
.features-images{
    width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.features-description{
    width: 537px;
    height: 304px;
    padding-left: 70px;
}
.features-description h3{
    width: 400px;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}
.features-description p{
    width: 468px;
    margin-bottom: 32px;
}
.features-description button{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border: none;
    border-radius: 8px;    
}
/* features details */
.features-details{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1440px;
    height: 1059px;
}
.highlights{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 591px;
    height: 982px;
    padding: 25px 200px 25px 25px;
}

.highlights h3{
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 15px;
}
.highlights h4{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 15px;
}
.button{
    text-align: center;
    background: #FF900E;
    width: 200px;
    height: 50px;
    padding-top: 25px;
}
/* facts styles */
.facts{
    margin: 50px 240px;
    width: 1440px;
}
.facts h3{
    font-weight: 700;
    font-size: 45px;
}
.facts .p1{
    width: 542px;
    height: 52px;
}
.info{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    
}
.info1{
    border: 1px solid coral;
    text-align: center;
    width: 240px;
    height: 240px;
}
.info1 img{
    margin-top: 80px;
}
.info1 h4{
    font-weight: 600;
    font-size: 45px;
}
/* footer styles */
.footer-top{
    text-align: center;
    margin: 100px 690px 0 690px;
    width: 542px;
    height: 129px;
}
.footer-top h3{
    font-weight: 700;
    font-size: 45px;
}
.footer-middle{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.footer-bottom{
    margin: 100px auto;
    width: 1440px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
}
.footer-bottom p{
    padding-top: 40px;
    text-align: center;
}